@import "bootstrap/dist/css/bootstrap";

:root {
    color-scheme: dark;
}

body {
    z-index: 1;
}

.navbar-container,
.content-container {
    min-width: 75%;
}

.navbar-container {
    margin: 0vh 2vh;
}

.active {
    font-size: 1.1rem;
}

h1,
h2,
h3 {
    position: relative;
}

h1::after,
h2::after,
h3::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.2rem;
    background-color: rgb(101, 24, 218);
    bottom: -10px;
    left: 0;
}

p,
ul {
    margin-top: 15px;
    text-align: justify;
}

.div-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vh 0vh;
}

.div-images h4 {
    margin: 0vh 0vh 2vh 0vh;
}

h4 {
    margin: 3vh 0vh 0vh 0vh;
}

.example-images {
    border-radius: 3vh;
    max-width: 50%;
}

.div-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-links {
    text-decoration: none;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    bottom: 0%;
    position: relative;
    width: 100%;
    z-index: 0;
}

@media only screen and (max-width: 480px) {
    .nav-link-brand {
        margin-top: 2vw;
        margin-left: -2vw;
    }

    .github-div {
        padding-top: 2vh;
    }

    p,
    ul {
        text-align: initial;
    }
}

@media only screen and (max-width: 768px) {
    .img-div {
        display: flex;
        flex-direction: column;
    }

    .github-div {
        padding-top: 2vh;
    }

    p,
    ul {
        text-align: initial;
    }

    .example-images {
        max-width: 100%;
    }

    .div-images h4 {
        margin: -3vh 0vh 2vh 0vh;
    }

    h4 {
        padding: 0vh;
    }
}